html {
    height: 100%;
}

body {
    height: 100%;
    background-color: aliceblue
}

#main-content {
    min-height: 90%;
}

#sidebar-container {
    height: 93vh;
    background-color: aliceblue
}

#bus-container {
    height: 50%;
}

#safe-walk-container {
    height: 50%;
}

#map {
    right: ;
    height: 93vh;
}