html {
    height: 100%;
}

body {
    height: 100%;
    background-color: white
    color: #545454;
}

#data-table {
    overflow-y: scroll;
    display: block;
    height: inherit;
}

#main-content {
    min-height: 90%;
}

#sidebar-container {
    height: 93vh;
    background-color: white
}

#bus-container {
    /*height: 50%;*/
}

#safe-walk-container {
    height: 50%;
}

#dropdown2 {
    width: 160px !important;
    height: 400px !important;
}

#map {
    right: ;
    height: 93vh;
}

#container-1-headline {
    font-family: 'Ubuntu', sans-serif;
}

.default-text {
    font-family: 'Ubuntu', sans-serif;
}

#destination-header {
    font-size: 18px;
}
