<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Hello</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />

        <!--Import main.css-->
        <link type="text/css" rel="stylesheet" href="/css/main.css" />

        <!--GOOGLE FONTS-->
        <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        
        <div ng-view></div>
        
        <script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/vendor/angular/angular.js"></script>
        <script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="/vendor/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/app/app.js"></script>
        <script type="text/javascript" src="/app/controllers/homeController.js"></script>
    </body>
</html>
    